form {
  height: 500px;
  max-height: 100%;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}
.modalContainer {
  max-width: 700px ;
  height: 500px;
  max-height: 100%;
  width: 100%;

  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  background-color: red;
  border: 1px; 

}
.modalContainer form{
     height: 100%;/* set a fixed height for the form */
  overflow-y: auto;
}



.closeBtn {
 color: #007bff;
 margin-left: 70%;
 font-size: 18px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #007bff;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
textarea,
select {
  width:95%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color:   #007bff;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

