.PopUp {
  height: 80% auto;
  width: 800px;
  background-color: rgb(15, 255, 211);
  margin-left: 25%;
  margin-top: 30px;
  border: solid 2px;
}
form span {
  display: block;
  line-height: 20px;
  line-break: strict;
}

.da {
  background-color: red;
}
